[class*="NavBar-plexLogo-3K4YJj"] {
    background-image: url("https://raw.githubusercontent.com/findabir/media-resources/master/neutechwhite1.svg");
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0 10px;
    width: 45px;
}
